<style id="cui_style-inline-css">
      .cui-wrapper {
        font-size: 12px
      }

      .cui-wrapper {
        background: #ffffff;
      }

      .cui-wrapper.cui-border {
        border: 1px solid #000000;
      }

      .cui-wrapper .cui-wrap-comments a:link,
      .cui-wrapper .cui-wrap-comments a:visited {
        color: #000000;
      }

      .cui-wrapper .cui-wrap-link a.cui-link {
        color: #000000;
      }

      .cui-wrapper .cui-wrap-link a.cui-link.cui-icon-link-true .cuio-comment {
        color: #000000;
      }

      .cui-wrapper .cui-wrap-link a.cui-link:hover {
        color: #000000;
      }

      .cui-wrapper .cui-wrap-link a.cui-link:hover .cuio-comment {
        color: #000000;
      }

      .cui-wrapper .cui-wrap-form {
        border-top: 1px solid #000000;
      }

      .cui-wrapper .cui-wrap-form .cui-container-form textarea.cui-textarea {
        border: 1px solid #000000;
        background: #FFFFFF;
        color: #000000;
      }

      .cui-wrapper .cui-wrap-form .cui-container-form input[type='text'] {
        border: 1px solid #000000;
        background: #FFFFFF;
        color: #000000;
      }

      .cui-wrapper .cui-wrap-form .cui-container-form input.cui-input:focus,
      .cui-wrapper .cui-wrap-form .cui-container-form textarea.cui-textarea:focus {
        border-color: #64B6EC;
      }

      .cui-wrapper .cui-wrap-form .cui-container-form input[type='submit'],
      .cui-wrapper .cui-wrap-form .cui-container-form input[type='button'].cui-form-btn {
        color: #FFFFFF;
        background: #000000;
      }

      .cui-wrapper .cui-wrap-form .cui-container-form input[type='submit']:hover,
      .cui-wrapper .cui-wrap-form .cui-container-form input[type='button'].cui-form-btn:hover {
        background: #afafaf;
      }

      .cui-wrapper .cui-wrap-form .cui-container-form .cui-captcha .cui-captcha-text {
        color: #000000;
      }

      .cui-wrapper .cui-media-btns a>span {
        color: #000000;
      }

      .cui-wrapper .cui-media-btns a>span:hover {
        color: #000000;
      }

      .cui-wrapper .cui-comment-status {
        border-top: 1px solid #000000;
      }

      .cui-wrapper .cui-comment-status p.cui-ajax-success {
        color: #319342;
      }

      .cui-wrapper .cui-comment-status p.cui-ajax-error {
        color: #C85951;
      }

      .cui-wrapper .cui-comment-status.cui-loading>span {
        color: #000000;
      }

      .cui-wrapper ul.cui-container-comments {
        border-top: 1px solid #000000;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment {
        border-bottom: 1px solid #000000;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment ul li.cui-item-comment {
        border-top: 1px solid #000000;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-info a.cui-commenter-name {
        color: #000000 !important;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-info a.cui-commenter-name:hover {
        color: #000000 !important;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-info .cui-comment-time {
        color: #000000;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-text p {
        color: #000000;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-actions a {
        color: #000000;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-actions a:hover {
        color: #000000;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-rating .cui-rating-link>span {
        color: ;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-rating .cui-rating-link>span:hover {
        color: ;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-rating .cui-rating-count {
        color: #000000;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-rating .cui-rating-count.cui-rating-positive {
        color: ;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-rating .cui-rating-count.cui-rating-negative {
        color: ;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content .cui-comment-rating .cui-rating-count.cuio-loading {
        color: ;
      }

      .cui-wrapper ul.cui-container-comments a.cui-load-more-comments:hover {
        color: #000000;
      }

      .cui-wrapper .cui-counter-info {
        color: #000000;
      }

      .cui-wrapper .cui-holder span {
        color: #000000;
      }

      .cui-wrapper .cui-holder a,
      .cui-wrapper .cui-holder a:link,
      .cui-wrapper .cui-holder a:visited {
        color: #000000;
      }

      .cui-wrapper .cui-holder a:hover,
      .cui-wrapper .cui-holder a:link:hover,
      .cui-wrapper .cui-holder a:visited:hover {
        color: #000000;
      }

      .cui-wrapper .cui-holder a.jp-previous.jp-disabled,
      .cui-wrapper .cui-holder a.jp-previous.jp-disabled:hover,
      .cui-wrapper .cui-holder a.jp-next.jp-disabled,
      .cui-wrapper .cui-holder a.jp-next.jp-disabled:hover {
        color: #000000;
      }

      .cui-post-author {
        color: white !important;
        background: #777 !important;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-avatar img {
        max-width: 28px;
        max-height: 28px;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment .cui-comment-content {
        margin-left: 38px;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment ul .cui-comment-avatar img {
        max-width: 24px;
        max-height: 24px;
      }

      .cui-wrapper ul.cui-container-comments li.cui-item-comment ul ul .cui-comment-avatar img {
        max-width: 21px;
        max-height: 21px;
      }

      .cui_comment_count_card.cui_card-tidak_hadir {
        background-color: #d90a11;
      }

      .cui_comment_count_card.cui_card-hadir {
        background-color: #3D9A62;
      }

      .cui_comment_count_card.cui_card-masih_ragu {
        background-color: #d7a916;
      }
    </style>
